<main class="d-flex flex-column justify-content-center align-items-center m-auto h-100">
  <section>
    <h1>Olá, seja bem-vindo ao <span class="gradient-title">Gerencia Fone</span>.</h1>
    <nav class="mt-5 row">
      <div class="col-lg-6 col-md-12 d-flex justify-content-center">
        <a class="link" routerLink="/numeros-disponiveis">
          <div class="card shadow-lg">
            <div class="card-body">
              <h5 class="card-title">Números Disponíveis</h5>
              <p class="card-text">Gerencia os números disponíveis.</p>
              <p class="m-0 text-center">
                <i class="bi bi-telephone-inbound-fill link-icon text-center"></i>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center">
        <a class="link" routerLink="/novo-numero">
            <div class="card shadow-lg">
            <div class="card-body">
            <h5 class="card-title">Adicionar um novo número</h5>
            <p class="card-text">Adicione contatos facilmente.</p>
            <p class="m-0 text-center">
              <i class="bi bi-telephone-plus-fill link-icon"></i>
            </p>
            </div>
          </div>
        </a>
      </div>
    </nav>
  </section>
</main>
